select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 30px 0 10px;

  border: 1px solid #e0e0e0;
  border-radius: 3px;
  line-height: $height + px;
  height: $height + px;
  //box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  background: #fff;

  //min-width: 200px;
  margin: 0 5px 5px 0;
}